    <%- include('partials/header') %>
    <div class="container">
        <h1>Welcome to EJS View Engine with Bootstrap</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/pic1.jpg" alt="Image not found" class="img-fluid" />
        </div>
        <div class="col-md-4">
            <img src="/images/pic2.jpg" alt="Image not found" class="img-fluid" />
        </div>
        <div class="col-md-4">
            <img src="/images/pic3.jpg" alt="Image not found" class="img-fluid" />
        </div>
    </div>
    <%- include('partials/footer') %>